ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#FFCCCC;
}
li{
  float:left;
}
li a, .dropBtn{
  display:inline-block;
  color:blue;
  text-align:center;
  padding:12px 14px;
  text-decoration:none;
}
li a:hover, .dropDown:hover .dropBtn{
  background-color:red;
}
li .dropDown{
  display:lnline-block;
}
.dropDown-content{
  display:none;
  position:absolute;
  background-color:#CCCCFF;
  min-witdh:160px;
  box-shadow:0px 8px 16pc 0px rgba(1,0.1,0.3);
  z-index:1;
}
.dropDown-content a{
  color:blue;
  display:block;
  text-align:left;
}
.dropDown-content a:hover{
  backgroud-color:#FFCC99;
  color:#CC94FA;
}
.dropDown:hover .dropDown-content{
  display:block;
}
